[2018-09-25 04:40] patotoma opened #1 "Failed to compile. error when building the create-react-app project"
Hello, I see this error when trying to build create-react-app based project with this library:

[code]

[2018-09-25 07:48] nvh95 commented on #1
@patotoma It looks like a problem with `query-string` 6.x
I will update and publish within today. Thanks for reporting.

[2018-09-25 07:52] nvh95 commented on #1
@patotoma Please run
[code]
in your project and build again. Please inform me if the problem still persists. Thanks

[2018-09-25 08:01] patotoma commented on #1
@nvh95 Problem no longer exists in `1.0.5`, thank you!

[2018-09-25 08:01] #1 closed

[2018-09-28 16:01] patotoma opened #2 "How to exchange Authorization Code with Access Token"
I'm trying to implement Linkedin Oauth2 according to this: https://developer.linkedin.com/docs/oauth2.

What I receive using this component onSuccess hook is **Authorization Code** but I need to exchange it with **Access Token** and then send the token to my server.

Making another POST: https://www.linkedin.com/oauth/v2/accessToken is returning CORS error:

[code]

Thank you.

[2018-10-01 04:44] nvh95 commented on #2
Hey @patotoma
Are you sure that you add your `redirect_uri` to your app setting
![image](https://user-images.githubusercontent.com/8603085/46269989-f4446e80-c56e-11e8-87eb-64e054670f58.png)
In addition, I don't think that you should put the **Client Secret** in your React App. I think you should send the **Authorization Code** to server and let your server exchange the **Access Token** for you
Let

[2018-10-01 08:55] patotoma commented on #2
@nvh95 exchanging code with token worked from the server side, thanks.

[2018-10-01 08:55] #2 closed

[2018-10-26 09:50] xporium opened #5 "how we can get user's basic profile data like name, email address from this"
Hi,
i tried in local with this source, but in this i m just getting token, actually i want to other basic fields from linkedin like name, profile-pic, emailaddress or some else than how to get that fields from this code?

Thanks...

[2018-10-27 15:52] nvh95 commented on #5
@xporium
Note that this package support to get the authorization code to `Authenticating with OAuth 2.0` from [this tutorial](https://developer.linkedin.com/docs/oauth2) (step 2)
You can send your authorization code to the server and let the server get your needed information using OAuth 2.0.
If it's acceptable to get fields like name, profile-pic, email address... in client side. You can take a l

[2018-11-14 16:33] realAudi opened #6 "Having problem with the popup close"
Originally when I tried this module, I was getting a behaviour where after LinkedIn authorized, my return URL would render in the popup, rather than close and pass back the token. Then at one point it just started to work properly. Then I compiled and it went back to the original behaviour of not closing the popup.
I have embedded

 the component in my own page (coverpage). And for debugging purpo

[2018-11-14 16:38] realAudi commented on #6
oh sorry I forgot. You can look at the app at
ayda.io:8080
although here I have changed the popup to be "parent" just to get it to pass back to me the auth code and proceed

[2018-11-16 09:07] nvh95 commented on #6
Hey @realAudi
Sorry but I haven't gotten your problem.
I tried on `ayda.io:8080` but what I got back after successfully authorized is that I am redirected to your `localhost:3000`
Can you specify your problem you are facing a little bit clearer. If there is a video attached, it would be very helpful.
Thanks.

[2018-11-16 09:52] realAudi commented on #6
Oh sorry I uploaded something yesterday and forgot I had hard coded the redirect. Will fix this afternoon and notify.

Basically the problem I have is that once the pop up is rendered and you auth with LI, the redirect renders in the popup not the parent (for now I have set the window open to parent not blank, just to allow me to continue. But I will set it back to your code when I redeploy this a

[2018-11-16 16:49] realAudi commented on #6
OK I have uploaded the new build, using your module directly. Redirect is fixed.

You will see after auth the app is loaded in the popup and not the parent window.

Thanks for your help and responding quickly.

Audi

[2018-11-18 03:16] nvh95 commented on #6
@realAudi
Hey, I looked into your source code and I see what is the problem here.
I think that you are not redirected in parent window because you pass the wrong URI in `redirectUri`
I think with your source code, you should pass
[code]
Let me explain a little bit what we will do here.
When you include `<LinkedIn />`, I put an event listener here.
After authorized, the popup window will redirect t

[2018-11-19 10:18] realAudi commented on #6
Ah ok now I see how you are doing it. Nice trick attaching the event listener  to the popup and redirecting back to the popup.
Works now, thanks very much for your help.

[2018-11-19 10:58] nvh95 commented on #6
@realAudi My pleasure. Let me know if you need any help.
Thanks.

[2018-11-27 09:43] #6 closed

[2019-01-23 05:46] abhishekover9000 commented on #5
This gets you the code the server needs to talk to linkedin's API.

So basically what we're doing here-

1. React-linkedin-login is allowing the user to enter his linkedin creds into the pop up, that sends the handshake token back to the client

from here, to finish it off, we need to
2. send the token back to the server
3. the server will include the token into the call to linkedin
4. linkedin wi

[2019-02-20 07:26] abhiram5 opened #7 "Having issue with popup"
I just tried your react-linkedin-login-oauth2 through npm. I'm able to log in through linked in perfectly but after login, the redirect URL happening in the popup instead of the parent window.

I tried this.
[code]

[2019-03-01 08:28] yatrikp opened #8 "Issue with scope after clicking on linkedin button"
Seeing an issue after clicking on the LinkedIn button.

Steps:
1. started the app using "npm start"
2. app started on "localhost:3000"
3. seeing message on the page after clicking on LinkedIn button to login (had logged into the Linkedin on different page)

Message displayed:

"No code
Scope &quot;r_fullprofile&quot; is not authorized for your application"

[2019-03-21 18:06] clemlem opened #9 "CSRF token not tested"
https://github.com/nvh95/react-linkedin-login-oauth2/blob/3a912156f27156fc4f69ae6e19ad70f888c89071/src/LinkedIn.js#L29 state should be tested here to ensure there no attack.

[2019-04-05 16:14] atrimn commented on #7
same here

[2019-05-06 05:49] protolabz commented on #7
I am facing the same problem,
did you get a solution for it?
@abhiram5 & @atrimn

[2019-05-17 01:33] jeromemmiranda commented on #8
@yatrikp I've also experience this. I think it's not a plugin issue. Check your application list of permissions.

![image](https://user-images.githubusercontent.com/10767122/57897315-c48c7180-7886-11e9-83b5-b207ed2bed2e.png)

[2019-07-03 14:16] jason2li commented on #7
I'm having the same issue

[2019-07-07 08:38] cyberhck opened #11 "At least give option for not doing console.log"
https://github.com/nvh95/react-linkedin-login-oauth2/blob/3a912156f27156fc4f69ae6e19ad70f888c89071/src/LinkedInPopUp.js#L16

https://github.com/nvh95/react-linkedin-login-oauth2/blob/3a912156f27156fc4f69ae6e19ad70f888c89071/src/LinkedIn.js#L31

https://github.com/nvh95/react-linkedin-login-oauth2/blob/3a912156f27156fc4f69ae6e19ad70f888c89071/src/LinkedIn.js#L43

Please at least accept a optional p

[2019-07-07 16:52] nvh95 commented on #11
Thanks for tour feedback. Will do in the next update.

[2019-07-10 08:17] praveenkumarrize commented on #11
![image](https://user-images.githubusercontent.com/50015149/60952577-23b3b300-a319-11e9-9d7e-4c5eede3b13c.png)

I am facing this issue after login to linkedin. What should I do.

[2019-07-10 08:36] nvh95 commented on #11
@praveenkumarrize Can you create another issue and describe the steps to reproduce your issue.
If you can provide source code it would help. Thanks

[2019-07-26 15:03] finnsea opened #12 "Release for V 1.1? (Internet Explorer 11 support)"
Was wanting to know the status for the release of V 1.1 which is set to support IE 11. Any sort of a timeline?

[2019-08-02 07:57] nvh95 commented on #12
You are trying to use `react-linkedin-login-oauth2` with IE 11, aren't you?
I haven't had a timeline yet. But if there is demand, I can try to release it before 15.08.2019 :)

[2019-08-15 16:34] nvh95 commented on #12
@finnsea I released version 1.0.7 and it supports IE already.
Please give me feedback after you try it. Much appreciated.

[2019-08-15 16:35] nvh95 commented on #11
@cyberhck It is resolved in version `1.0.7`

[2019-08-15 16:36] nvh95 commented on #9
@clemlem Thanks for your feedback. It is resolved in version 1.0.7

[2019-08-15 16:36] #9 closed

[2019-08-15 16:38] nvh95 commented on #8
@yatrikp I guess Linked In remove permission `r_fullprofile` recently. You just need to remove it from `scope` property, or check permissions list like @jeromemmiranda suggests.
Let me know if you still see this problem. Thanks

[2019-08-15 16:58] finnsea commented on #12
Cool we will give it a try and let you know if we have any issues or
questions.

On Thu, Aug 15, 2019 at 11:34 AM Hung Viet Nguyen <notifications@github.com>
wrote:

[2019-08-16 20:23] yatrikp commented on #8
works now. thanks a lot for the help!!!

[2019-08-17 04:18] #11 closed

[2019-08-19 13:56] Itzli2000 commented on #5
I am passing de scope string, but only get de code back. How can I get de user information?
Or wich is the porpouse of the scope string?

[2019-08-20 03:57] nvh95 commented on #5
@Itzli2000 You can retrieve user information from linked in using the access token using this package.
Please follow this tutorial https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/sign-in-with-linkedin?context=linkedin/consumer/context#retrieving-member-profiles
[code]

[2019-08-26 07:09] deepdil-sp opened #13 "unexpected token"
.btn-linkedin {
^

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loader.js:653:32)
    at tryModuleLoad (internal/modules/cjs/loader.js:593:12)
    at Function.Module._load (internal/modules/cjs/loader.js:585:3)
    at Module.require

[2019-08-26 12:48] nvh95 commented on #13
@deepdil-sp Thanks for your feedback. Can you provide a little more information like steps to reproduce this issue?

[2019-08-27 05:36] deepdil-sp commented on #13
its a server side rendering, so when i use igot this error.

[2019-08-28 11:46] leppid opened #14 "How to move popup window into the center"
Any solutions?

[2019-08-29 18:48] mehdirazajaffri commented on #14
https://github.com/nvh95/react-linkedin-login-oauth2/pull/15

[2019-08-30 10:21] aashishgaikwad commented on #5
@nvh95 @abhishekover9000  @Itzli2000 I am also trying to access the LinkedIn api in react app. But getting following error:
Access to fetch at 'https://api.linkedin.com/v2/me' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

It's workin

[2019-08-30 12:55] leppid commented on #14
@mehdirazajaffri, thanks!

[2019-09-01 15:45] Itzli2000 commented on #5
@aashishgaikwad you need to use a proxy url to pass cors. Try this

`
var fetchInformation = {
      method: 'POST'
    };
var proxyurl = "https://cors-anywhere.herokuapp.com/";
fetch(proxyurl + {your url}, fetchInformation)
`

[2019-09-26 20:33] baesse commented on #13
Same issue here, i'm using  next.js  and getting this error during the build

[2019-12-18 08:55] galoberlyn opened #16 "onSuccess/onFailure doesn't pass anything"
I'm using react hooks and passing data to another function using onSuccess={myfunc} and onFailuire.

`const handleSuccess = (data) => {
        console.log(data); //no passed data here
 }

return(<LinkedIn
            clientId={env.LINKEDIN_CLIENT_ID()}
            onFailure={handleSuccess}
            onSuccess={handleFailure}
            scope="r_liteprofile r_emailaddress"
            redirectU

[2019-12-18 09:15] #16 closed

[2019-12-18 09:16] galoberlyn commented on #16
`<Router>
        <Provider store={store}>
                <div>
                <Switch>
                        <Route exact path="/" component={Login} />
                        <Route exact path="/auth/linkedin" component={LinkedInPopUp} />
                </Switch>
                </div>
        </Provider>
    </Router>`

Found the issue. I removed the div, now works fine.

[2019-12-19 13:06] pratiyush2706 opened #17 "Issue with scope"
I haven't defined scope since it is not a required field but it still gives me this error.
`error: "invalid_request"
errorMessage: "You need to pass the "scope" parameter"
from: "Linked In"`

[2019-12-24 20:53] nerdmax commented on #17
+1! This is also an issue with the Demo you provided: https://stupefied-goldberg-b44ee5.netlify.com/

![image](https://user-images.githubusercontent.com/18550349/71424956-9d830180-26eb-11ea-93a7-1fd25d662885.png)

[2019-12-27 12:15] chocobuckle commented on #17
@pratiyush2706 @nerdmax It seems LinkedIn have changed their API slightly and now require that the scope is explicitly stated. So if you include ```scope="r_liteprofile&r_emailaddress&w_member_social"``` as a prop that should work for you. Those three are the default fields that you can find under 'Auth' > 'Permissions' in your app settings. If you want more than that you need to apply to LinkedIn

[2019-12-27 15:46] mathavan161293 opened #18 "How to get profile data (r_emailaddress 3-legged member permission)"
Could you please update after receiving the code?

handleSuccess = (data) => {
    CODE,
    ACCESS TOKEN,
    BEARER TOKEN
}

i have an ERROR for 404 in the CORS origin issues..

[2019-12-29 22:32] nerdmax commented on #17
@chocobuckle Thank you so much for the quick response!

[2020-01-04 18:00] ismailkherbach commented on #18
After asking member permission you will get a code, after that you should make another POST request using that code to get the access token check the Official docs Step 3 : [https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/context](url)

[2020-01-12 14:19] PaulAbarnou37 commented on #7
This should help you:
https://stackoverflow.com/questions/43209666/react-router-v4-cannot-get-url

Go to your webpack.config.js file :

 ` output: {
    path: path.join(__dirname, outputDirectory),
    filename: 'bundle.js',
    publicPath: '/',  --> ADD THIS
  },`

  `devServer: {
    historyApiFallback: true, --> ADD THIS
    port: 3000,
    open: true,
    proxy: {
      '/api': 'http://localho

[2020-03-11 14:59] dev-svikrant406 commented on #7
This doesn't help me...

[2020-03-11 15:24] dev-svikrant406 commented on #6
Event Listener is not working in redux form.

[2020-03-25 11:46] Liudmila02 opened #19 "Issue with data"
I have a problem getting the data (the code is displayed in the window but in console undefined)

[2020-03-25 12:05] Liudmila02 commented on #19
`Uncaught TypeError: Cannot read property 'code' of undefined`

[2020-03-25 22:40] abdulmajidashraf92 opened #20 "Closing the pop-up Issue on redirection it remain open"
import React from "react";
import ReactDOM from 'react-dom';
import FacebookLogin from 'react-facebook-login';
import GoogleLogin from 'react-google-login';
import {LinkedIn} from 'react-linkedin-login-oauth2';
import {Switch, Link, Route, Redirect} from "react-router-dom";
import Dashboard from "../dashboard";
class Login extends React.Component {
    constructor(props) {
        super(props);

[2020-04-14 19:36] sumitmoga opened #21 "I'm not able to pass scope for r_liteprofile and r_emailadress"

[2020-06-08 19:35] #12 closed

[2020-07-24 19:47] axeldouglas opened #22 "Don't work with multi tenant application"
I'm trying use te component inside a multi tenant application, but Linkedin can accept only an "unique" redirect uri. So when the popup catch the code nothing happen because of uri.
Ex.
Url with linkedin button: http://slug.company.com
Redirect uri: http://company.com/callback

When I receive the code nothing happen (http://company.com/callback/code=**********)

How can I redirect back to the subd

[2020-08-06 20:50] jaykrs commented on #22
i am also facing same issue , after authentication successful from pop up , it is not redirecting back to same page from where flow started.

[2020-08-18 16:54] nvh95 commented on #21
@sumitmoga Can you describe your problem more explicitly?
You can always pass scope like this file
https://github.com/nvh95/react-linkedin-login-oauth2/blob/master/demo/src/LinkedInPage.js#L32

[2020-08-18 16:56] nvh95 commented on #20
@abdulmajidashraf92 Have you resolved your problem yet? Please note that you need to handle the pop up like one of those demo:
Demo 1: [Use react-router-dom](https://github.com/nvh95/react-linkedin-login-oauth2/blob/master/demo/src/index.js)
Demo 2: [Not use react-router-dom](https://github.com/nvh95/react-linkedin-login-oauth2/blob/master/demo/src/index1.js)

[2020-08-18 16:57] nvh95 commented on #19
@Liudmila02 Can you provide your code?

[2020-08-18 17:04] nvh95 commented on #14
Resolved in 1.0.8. Please `npm install react-linkedin-login-oauth2 --save` to get the latest version.
Thanks.

[2020-08-18 17:04] #14 closed

[2020-08-18 17:09] #8 closed

[2020-08-18 17:13] nvh95 commented on #7
@abhiram5 @atrimn I belive that you didn't define route for `/linkedin`
Please do it by adding this route somewhere in your application
[code]

Feel free to reopen this issue if your problem still persists.

[2020-08-18 17:13] #7 closed

[2020-08-18 17:16] nvh95 commented on #17
@pratiyush2706 @nerdmax Default `scope` is `r_emailaddress` in `1.0.8`. The demo is updated also.
@chocobuckle Thanks for your explanation.
Feel free to reopen this issue if the problem still persists. Thanks

[2020-08-18 17:16] #17 closed

[2020-08-19 02:45] nvh95 commented on #22
@axeldouglas Can you set your redirect uri with this form http://slug.company.com/callback (same origin with url with linkedin button)?

[2020-08-19 18:48] jaykrs commented on #22
Thanks i am able to resolve with callback , happy to help some one if facing same issue.

[2020-08-19 18:50] nvh95 commented on #22
@jaykrs Can tou share what you did to resolve it?

[2020-08-19 18:55] jaykrs commented on #22
this helped me https://github.com/jaykrs/linkedin-react-login , nothing it is simple callback and redirected to https web url .

[2020-08-19 20:50] pradeeptinku opened #24 "Could not find a declaration file for module 'react-linkedin-login-oauth2'."
I'm working on a reactJs project using Material-UI and there's neither Typescript. nor 'tsconfig.json' file in my project.
I tried this module 5 days back and it worked fine. But now, I'm getting the below error after the '1.0.8' release.

  Try `npm install @types/react-linkedin-login-oauth2` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-linkedin-login-oauth

[2020-08-20 03:17] nvh95 commented on #24
@pradeeptinku Can you provide a repository to reproduce? Thanks

[2020-08-21 01:00] #22 closed

[2020-08-27 10:20] marieqg opened #25 "Module parse failed: Unexpected character '�' (1:0)"
Hello,
I installed react-linkedin-login-oauth2  and created the button as it was explained. However,
everytime I get the following error:

[code]

My config:
"react-linkedin-login-oauth2": "^1.0.8",
"node": 12.16.1
 "next": "9.3.6"

I don't have a webpack configured. I think its due to next.js but I'm not sure

Do you have any ideas on how I can fix this?

Thanks in advance :)

[2020-08-27 10:49] #25 closed

[2020-08-27 10:50] marieqg commented on #13
Same issue here using next.js . Does any one have a way to fix it? Thanks in advance !

[2020-09-03 09:02] hannguyet commented on #20
I also had the same problem. And why onSuccess not return something

[2020-09-11 13:36] QaimSiddiqui commented on #17
@nvh95 @chocobuckle how to get linkedin user unique id , i get code which is not useful, i want unique linkedin user id
[code]

[2020-09-11 20:22] versa-dev opened #26 "Issue to get the accessToken using the code from this module"
I got the code from the response data using this module, and tried to get the accessToken using that code, but got the error.
My code and the error like followings;
# Linkedin tag
`<LinkedIn
                    response_type='code'
                    clientId="7766ia9vsfbyxb"
                    scope='r_emailaddress+r_liteprofile'
                    redirectUri='https://dev.d9jruxpfxzt30.amplif

[2020-09-18 18:33] aLx450 commented on #24
I went around it with adding
`//@ts-ignore`
above the import.

The types file does not exist, it seems. You can create your own if you absolutely need it, though. I didn't, so the ignore works just fine.

[2020-09-18 18:38] aLx450 commented on #20
Same issue. I used the example with Router.

I get the popup, I can authorize, the code shows up as a URL parameter, but the popup never closes and onSuccess is never called because, I assume, the popup needs to close to do so.

The switch next to the big Linkedin button triggers the popup.

![image](https://user-images.githubusercontent.com/16343644/93633150-7debe180-f9bc-11ea-9954-436853eb4759.p

[2020-09-18 18:40] pg185136 commented on #24
Yes. @aLx450 It did worked. Thanks for the response.
@nvh95 Thank you.

[2020-10-03 02:00] uricbonatti opened #27 "Add @types do use with typescript"

[2020-10-26 14:56] lynguistical opened #28 "After Popup closes, my main app background image disappears (blank)"
As the title says, the problem comes after log in successfully, the popup window will close and successfully send me the code to my main  reactjs application but at the same time, it also makes my background image and some icons disappear. Why is this? I simply implemented the code displayed in the description.

index.js
[code]

oauth.js
[code]

[2020-10-28 07:42] nvh95 commented on #28
Hey @lynguistical, can you replicate your issue in a repository?

[2020-11-17 13:05] abhishkekalia commented on #5
did you find the solution. if you find some thing just post here it will helpfull to someone

[2020-11-27 17:44] ijro commented on #20
Same problem here. @aLx450 did you manage to solve in some way?

[2020-12-04 05:40] AkshayDigheGithub commented on #21
pass scope like this
[code]

[2020-12-31 12:35] muzamilkp opened #29 "How to logout from Linkedin after logging in?"

[2021-01-05 18:19] phillipDenness opened #30 "NextJS - Global CSS cannot be imported from within node_modules."
Not compatible with server side rendering framework NextJs.
[code]
For reference from Next JS: https://github.com/vercel/next.js/blob/master/errors/css-npm.md

[2021-01-08 17:13] nvh95 commented on #30
@phillipDenness Hey I will make importing `index.css` file is opt-in. It should be done in 3-5 days. I will let you know after I published the fix

[2021-01-21 21:47] roshanverma2001 commented on #5
did anyone find a solution for this problem?

[Error] Failed to load resource: Preflight response is not successful (accessToken, line 0)

I am also trying to access https://www.linkedin.com/oauth/v2/accessToken to get a accessToken so I can then exchange it for user information later on.

  createFormParams = (params) => {
    return Object.keys(params)
        .map((key) => `${encodeURIComponent

[2021-02-02 10:55] jjnanthakumar opened #32 "Issue on Linkedin Oauth ( ! netlify in production mode)"
Hey there! I have an issue with Linkedin auth.
While working with the local server there is no issue it's working perfectly fine. But when it goes to netlify after logging through LinkedIn it not redirected to the home page instead it gives some error.

Screen shot of Error page

![image](https://user-images.githubusercontent.com/46053893/106590537-3634b380-6573-11eb-9f9d-a56ff5fbce1c.png)

Does a

[2021-02-02 14:03] #32 closed

[2021-02-06 17:26] nvh95 commented on #30
@phillipDenness Sorry for the delay but this issue got fixed in `1.0.9-alpha.0`
You can fix it by running this command
[code]
or
[code]

I will publish latest version to `1.0.9` in a few days. Thank you.

[2021-02-06 17:27] nvh95 commented on #13
This issue just got fixed in `1.0.9-alpha.0`. Please help to reinstall by running
[code]
or
[code]
The `1.0.9` will come in a few days. Thanks

[2021-02-06 17:37] nvh95 commented on #30
@all-contributors please add @phillipDenness  for bug

[2021-02-06 17:39] nvh95 commented on #13
@all-contributors please add @deepdil-sp for bug

[2021-02-06 17:48] nvh95 commented on #19
Closed due to inactivity.

[2021-02-06 17:48] #19 closed

[2021-02-06 18:04] phillipDenness commented on #30
thank you

[2021-02-10 10:07] shubhamambastha commented on #25
How you fixed this issue? @marieqg

[2021-02-18 18:29] quangphat commented on #13
I got a same issue, I installed 1.0.9-alpha.0 but still not working

[2021-04-15 12:30] amserhii11 opened #40 "Opening in new window"
Hi! Is it possible to open LinkedIn as PopUp or as Iframe? Because now it opens new tab. I expected it like a pop up, but it works incorrectly. Can you please explain it for me?
![image](https://user-images.githubusercontent.com/27774005/114869281-792ac700-9dff-11eb-870e-0318f4a416f1.png)
![image](https://user-images.githubusercontent.com/27774005/114869323-82b42f00-9dff-11eb-8b79-cb245a05b115.png

[2021-04-15 12:30] amserhii11 commented on #40
@nvh95

[2021-04-15 19:02] amserhii11 commented on #40
I mean, how to open in new window, not in tab.

[2021-05-17 19:47] vitalii-bulyzhyn opened #41 "Cannot be used with React 17"
I'm trying to use package with React 17.0.2, however it requires React 16.x

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: next-flair-front-end@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"16.x" from r

[2021-05-22 13:22] HarshaV198 commented on #7
`componentDidMount(){
    const params = queryString.parse(window.location.search);
    if (params.error) {
      const errorMessage = params.error_description || 'Login failed. Please try again.';
      window.opener && window.opener.postMessage({ error: params.error, state: params.state, errorMessage, from: 'Linked In' }, window.location.origin);
      if (params.error === 'user_cancelled_login'

[2021-06-18 13:08] shivika24 commented on #13
I got a same issue with the latest version.

[2021-06-29 09:58] shivika24 opened #43 "react-linkedin-login-oauth2 not working with nextjs"
Server Error
SyntaxError: Invalid or unexpected token
when i try to implement linkedIn login this error is coming.

error:-
Uncaught     at <unknown> (file:///home/user/Desktop/project-nextjs/node_modules/react-linkedin-login-oauth2/assets/linkedin.png:1)
    at Object.compileFunction (node:vm:355:18)
    at wrapSafe (node:internal/modules/cjs/loader:1038:15)
    at Module._compile (node:internal/

[2021-07-08 07:14] maxlech974 commented on #21
Hi!
I get the same error than @sumitmoga nothing to do with your solution unfortunatly, any othoer idea?

[2021-07-12 07:25] karanattriCaw opened #44 "Client Credential Flow (2-legged OAuth)"
In the library default behaviour is Authorization Code Flow (3-legged OAuth) is there a way we can switch to Client credential flow (2-legged OAuth) where we can get access token ?

[2021-07-31 21:52] samxoxoxo opened #45 "How to remove text keeps destroying my css"

[2021-08-10 20:42] #45 closed

[2021-08-31 11:54] Jyothi-Rajanna opened #46 "Is there a way to embed linkedin login and permission granting redirection from codebase?"
I have a requirement to display LinkedIn posts on clients' website. All I need to get is Auth code. By using 'react-linkedin-login-oauth2' package am able to get the 'code''easily by providing linkedin login credentials and allowing permissions, but the client doesn't want to provide login credentials and permission allowing button click on website? Is there a way to embed LinkedIn login and permi

[2021-09-07 19:42] ItaloGoncales commented on #28
It's happening the same here: https://github.com/ItaloGoncales/react-linkedin-login-oauth2-demo

[2021-09-12 21:12] m7amad-7asan commented on #20
This still an issue

[2021-09-12 21:13] m7amad-7asan commented on #20
@ijro @aLx450 @trungnguyen269 @nvh95 @abdulmajidashraf92
did you find a way to solve this ?

[2021-09-13 09:51] raj-vc commented on #21
scope="r_liteprofile+r_emailaddress"

[2021-09-17 15:49] bilipp opened #47 "If LinkedIn app is installed, the login is not possible on mobile phones."
Currently the click on the button does not work on mobile phones if the LinkedIn app is installed. Instead of opening the login prompt in the browser, the app is just opened which blocks the authorization process.

Happens on iOS as well as Android devices.

[2021-09-20 06:58] bilipp commented on #47
References related to that issue (all within the last days):
https://stackoverflow.com/questions/69214975/iphone-oauth-login-request-redirects-to-app-not-browser-doesnt-work
https://stackoverflow.com/questions/69217113/prevent-linkedin-oauth-flow-from-opening-app-from-mobile-browser
https://forum.bubble.io/t/api-connector-linkedin-login-redirect-due-to-linkedin-native-app-in-phone/169618/4

[2021-09-21 15:28] #47 closed

[2021-10-05 13:58] nagulan23 commented on #41
Did u find an alternate?

[2021-10-05 15:50] vitalii-bulyzhyn commented on #41
@nagulan23 I sent an PR, but it was never merged. You can fork it and install it to your app from github directly

[2021-10-05 16:19] nagulan23 commented on #41
Wow thanks :)

[2021-10-05 16:35] nvh95 commented on #41
@vitalii-bulyzhyn @nagulan23 I just update the package to `1.0.10` to add react 17.x as peerDependencies. Can you try again if it resolve the problem. Thanks for your patience.
[code]

[2021-10-05 17:04] nvh95 commented on #43
Look like it's the problem with importing the photo
I haven't tested this package with NextJS. I will do it by this weekend and release the fix. Thanks.

[2021-10-09 14:53] traxx10 commented on #43
Same error here

[2021-10-25 07:49] donprecious opened #49 "Security Issue - state was removed and generated randomly , which exposes CSRF attack ."
The state was removed and generated randomly, which exposes CSRF attack.

previously state was an optional field and was entirely removed on this commit https://github.com/nvh95/react-linkedin-login-oauth2/commit/4274b93cbd5512e79d22725961de66a6a2360bd5?short_path=b335630#r58595171

with the removal, it makes it impossible for the backend server to generate a state for that user and validate it .

[2021-10-30 03:30] nvh95 commented on #44
@karanattriCaw I'm so sorry this library does not support Client Credential Flow (because this flow does not require to access any member-specific information) Please make a request directly via `https://www.linkedin.com/oauth/v2/accessToken`
Reference: https://docs.microsoft.com/en-us/linkedin/shared/authentication/client-credentials-flow
![image](https://user-images.githubusercontent.com/8603085

[2021-10-30 03:30] #44 closed

[2021-10-30 03:34] nvh95 commented on #49
I'm closing this issue for now. Please let me know if there is a scenario when CSRF attack might be performed. However, I think it's fair to let users choose their own state, if users don't specify, it will be ramdomly generate for them. This property will be added again in `2.x` (currently in progress #50)

[2021-10-30 03:34] #49 closed

[2021-10-30 03:59] nvh95 commented on #29
@muzamilkp Since we are implementing an oauth2 flow, we do not import any javascript SDK from linkedin, so it can't logout linkedin.com by itself.
It's likely that you are using this library to retrieve the `Authorization code`, then using it to validate in the backend, then create an account for the user, then create and send user an token. In that case, to logout, we might need to clear that tok

[2021-10-30 03:59] #29 closed

[2021-10-30 04:38] nvh95 commented on #26
@versa-dev You shouldn't place the attributes directly to the url. It depends on languages you are using to make a request. Bellow are some examples:
- cURL
[code]
- Node.js (with axios)
[code]
- Python
[code]

The error message `Unable to retrieve access token: appid/redirect uri/code verifier does not match authorization code. Or authorization code expired. Or external member binding exists` ind

[2021-10-30 04:38] #26 closed

[2021-10-30 04:41] nvh95 commented on #46
Sadly no. I don't think I should ever recommend anyone hard code the password in the client code base.

[2021-10-30 04:41] #46 closed

[2021-10-30 04:41] #41 closed

[2021-10-30 04:56] nvh95 commented on #21
Please just pass the list delimited by a space.
[code]
@maxlech974 Can you provide the error message?

[2021-10-30 05:08] nvh95 commented on #40
@amserhii11 It's using `window.open` API to open a new window/ tab. However, for example, if you are opening your browser in full screen mode on macOS, clicking the button will open a new tab instead of window. Otherwise, it will open a new window
![Oct-30-2021 12-02-36](https://user-images.githubusercontent.com/8603085/139520887-22d38629-a331-47ac-8770-cd4e7751e464.gif)

[2021-10-30 19:57] nvh95 commented on #24
`react-linkedin-login-oauth2` 2.x alpha is now written in typescript. Do not need to add `//@ts-ignore`
Please give it a try by running:
[code]

See the usage at https://github.com/nvh95/react-linkedin-login-oauth2/blob/a16b68c642cdfea8fd8da102628b69825e03cef2/README.md#L44-L76

[2021-10-30 20:01] nvh95 commented on #13
Please give it a try by running:
[code]

See the usage at https://github.com/nvh95/react-linkedin-login-oauth2/blob/a16b68c642cdfea8fd8da102628b69825e03cef2/README.md#L44-L76

Please let me know if the problem is still persist. Thanks.

[2021-10-30 20:07] nvh95 commented on #27
`react-linkedin-login-oauth2` version `2.x` is re-written in typescript.

Please give it a try by running:
[code]

See the usage at https://github.com/nvh95/react-linkedin-login-oauth2/blob/a16b68c642cdfea8fd8da102628b69825e03cef2/README.md#L44-L76

[2021-10-30 20:09] #30 closed

[2021-10-30 20:13] nvh95 commented on #43
@shivika24 @traxx10 @talaikis @SaravanaKumar645 @groomain `react-linkedin-login-oauth2` 2.x alpha resolved this problem. Please give it a try by running:
[code]
Version 2.x is re-written with some changes to the API. Please see the README here https://github.com/nvh95/react-linkedin-login-oauth2/tree/2.x to see the usage.
https://github.com/nvh95/react-linkedin-login-oauth2/blob/a16b68c642cdfea8fd

[2021-10-31 16:20] nvh95 commented on #27
`npm i react-linkedin-login-oauth2` version 2 is out with type support.

[2021-10-31 16:20] #27 closed

[2021-10-31 16:21] nvh95 commented on #24
`npm i react-linkedin-login-oauth2` version 2 is out with type support.

[2021-10-31 16:21] #24 closed

[2021-10-31 16:22] nvh95 commented on #24
@all-contributors please add @pradeeptinku for bug

[2021-10-31 16:23] nvh95 commented on #27
@all-contributors please add @uricbonatti for bug

[2021-10-31 16:32] nvh95 commented on #13
I believe this issue is resolved in `2.0.0`. Please let me know if it persists

[2021-10-31 16:32] #13 closed

[2021-11-01 11:53] nvh95 commented on #43
2.0.0 is out and it should not have problem with Next.js so I'm closing this issue. Please let me know if it persists

[2021-11-01 11:53] #43 closed

[2021-11-08 13:17] tiavina-mika opened #53 "The redirect_uri does not match the registered value"
This error happen when the popup is open

I'm using:
NextJs  11.1.2
NodeJs 14.15.4

###screenshot:
![image](https://user-images.githubusercontent.com/42656064/140747728-611cdbb3-fef2-4dcc-9eee-b02c9e721c3d.png)

Here is the popup url: `https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=771x1e89b1ejnb&redirect_uri=http://localhost:3001/linkedin&scope=r_emailaddress&state=7

[2021-11-08 13:21] tiavina-mika commented on #53
fixed,
In the OAuth 2.0 settings in Linkedin developers page,
set the "Authorized redirect URLs for your app"
to http://localhost:3001/linkedin instead of http://localhost:3001

[2021-11-09 14:04] #53 closed

[2021-11-12 10:17] faisalur-rehman opened #54 "Popup does not close even if the login is successful or user presses cancel button. It redirects me back to origin url without closing the popup."
Popup does not close even if the login is successful or user presses cancel button. It redirects me back to origin url without closing the popup. Here is my code:
[code]

[2021-11-12 16:25] nvh95 commented on #54
@faisalur-rehman Can you provide some more information like which browser you are using and its version, screenshot or even a reproduce repository?

[2021-11-12 17:56] faisalur-rehman commented on #54
I am using Chrome version 95.0.4638.69
Here is the link of the repository : [Link](https://github.com/faisalur-rehman/react-linkedin-facebook-google-signin)
Here is the deployed link of app. [app link](https://react-linkedin-oauth.netlify.app/)
Note: The popup wont close and will redirect in the same window but due to the free hosting on netlify,it will show "Page not found error".

[2021-11-12 20:19] faisalur-rehman commented on #54
@nvh95 another issue is that `linkedin` or `{linkedin}` is not exported from `react-linkedin-login-oauth2` which is used in `src` attribute of `<img/>`

[2021-11-16 10:41] faisalur-rehman commented on #54
@nvh95 anything?

[2021-11-21 15:53] nvh95 commented on #54
Hey @faisalur-rehman, in order to make it work, you need to create a route `/linkedin` and it should be `LinkedInCallback`. Since you are using Create React App, I recommend using `react-router-dom` as follow:
[code]

Please refer [Usage](https://github.com/nvh95/react-linkedin-login-oauth2#usage) to see how to integrate `react-linkedin-login-oauth2` to your application. You can find a full exampl

[2021-11-21 16:07] nvh95 commented on #18
Please refer to https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin%2Fcontext&tabs=HTTPS#step-3-exchange-authorization-code-for-an-access-token

[2021-11-21 16:07] #18 closed

[2021-11-21 16:09] nvh95 commented on #21
I'm closing this issue. Please feel free to comment if this issue still persist

[2021-11-21 16:09] #21 closed

[2021-11-21 16:10] nvh95 commented on #40
I'm closing this issue now. Please feel free to discuss if the problem still persists

[2021-11-21 16:10] #40 closed

[2021-11-21 16:16] nvh95 commented on #20
In order to make it work, you need to create a route `/linkedin` and it should be `LinkedInCallback`. I recommend using `react-router-dom` as follow:
[code]

Please refer to [Usage](https://github.com/nvh95/react-linkedin-login-oauth2#usage) to see how to integrate `react-linkedin-login-oauth2` to your application. You can find a full example [here](https://github.com/nvh95/react-linkedin-login-oa

[2021-11-21 16:29] nvh95 commented on #28
@ItaloGoncales I cannot reproduce your issue. I clone your repository then run, but your linkedin app is disabled. I replaced it by my linkedin application's `clientId` and it work fine. Can you provide more information?

![image](https://user-images.githubusercontent.com/8603085/142770370-d170c40f-38f8-4285-bd0b-068e9e7595f4.png)

Also, `react-linkedin-login-oauth2` is now at `2.0.0` . If possibl

[2021-11-22 10:27] faisalur-rehman commented on #54
@nvh95 Yes this resolved the issue. Thanks alot.
[code]

[2021-11-22 10:27] #54 closed

[2021-12-07 14:43] groomain opened #56 "Upgrade to version 2 error user_closed_popup even if I get the code with onSuccess with NextJS"
Hi,

Thanks for this hook!

I've upgraded to version 2 and the user_closed_popup error is always triggered.
Even if I don't close the popup. It close automatically.

The connexion is working because I get the code with the onSuccess callback.

Any idea why?
Thanks,

[2021-12-08 15:57] nvh95 commented on #56
@groomain Thank you for submitting issue. Can you provide more information such as reproducible source code, screenshot/ video  or environment?

[2022-01-04 09:42] theone3nu opened #58 "Token is not valid after success callback"
I am able to get the token but when i use that token to generate refresh token it says `{
    "error": "invalid_request",
    "error_description": "Unable to retrieve access token: appid/redirect uri/code verifier does not match authorization code. Or authorization code expired. Or external member binding exists"
}`

When i manually generate token using this `https://www.linkedin.com/oauth/v2/auth

[2022-01-11 19:28] theone3nu commented on #29
I was able to manage logout from linkedin by using below code. Hope this will be helpful for users who wants to allow multiple linked in accounts in their app.

`const logoutLinkedin = (url) => {
		// Invisible window popup
		const win = window.open(
			url,
			'_blank',
			'toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=10000, top=10000, width=10, height=10, visible=none'
		);

[2022-01-18 14:57] vuyanidaweti commented on #20
![carbon](https://user-images.githubusercontent.com/27291657/149961428-dfec9578-9028-431f-8b20-41e0a49799ad.png)

I used Routes and instead of BrowserRoute and it worked

[2022-01-28 07:47] sebahom commented on #20
for me
</Routes>
<Route exact path="/linkedin" element={<LinkedInCallback/>} />
   </Routes>
worked. call it as an element instead of a component

[2022-01-28 12:48] talaikis commented on #56
+1 suddenly stopped working.

[2022-01-28 14:18] talaikis commented on #58
+1 suddenly started tio send buffer? instead of normal auth code.

[2022-01-28 23:50] ItaloGoncales commented on #28
I could fix that by removing the background definition from index.css and making it hardcoded into the body tag on my application.

Maybe it resets the CSS styles?

[2022-03-10 10:39] ahmadadejumo opened #61 "authorization code doesn't display in my console"
Anytime I console log code it doesn't show in my console but it displays in the URL gotten

[2022-03-10 11:49] #61 closed

[2022-03-13 04:37] zafarhussain633 opened #62 "after login its not calling onSuccess function"

[2022-04-16 12:24] tleopardt commented on #62
I'm also having this problem in the latest version, I already allow linkedin login but it didn't call onSuccess function so it returns nothing. Please somebody help

[2022-06-10 17:35] devnexitus commented on #62
Hello, I'm having a similar issue. But it's only happening on localhost, when i deploy my app to some server this error happens. It executes `onError` all the time and redirects to the `redirectUri` with no params which causes LinkedInCallback component always shows "state does not match".

Is there a way to fix this?

[2022-06-11 05:33] zafarhussain633 commented on #62
i think this package have some serious issue

[2022-06-11 16:13] nvh95 commented on #62
Hi @zafarhussain633, @tleopardt, @devnexitus,

Thank you for reaching us.

Did you setup `LinkedInCallback` using `react-router-dom` or Next.js's file system routing as mentioned in Usage (https://github.com/nvh95/react-linkedin-login-oauth2#usage)?

[code]

[code]

If you follow the [Usage](https://github.com/nvh95/react-linkedin-login-oauth2#usage) and still experience any issues. Please help to

[2022-06-15 11:03] sureshgopimd12 opened #65 "How to get the profile details..?"

[2022-07-20 09:10] himanshug19 opened #71 "Not able to use more than once for Page and Profile both"
Hi,

I want to use plugin to connect Page and Profile both so created different components for both and imported in same parent component.
Now click on any one to connect both components react on success and error case.
I'm using in NextJs

![image](https://user-images.githubusercontent.com/47056588/179943908-84353b97-0ae4-4c68-b1ad-a495f9870d80.png)

![image](https://user-images.githubusercontent

[2022-07-28 07:26] imabhinavawasthi opened #73 "Redirecting on linkedin pop, not on main window"

[2022-08-03 04:42] redclouddrailan opened #74 "Can we use this on Cordova?"
I am trying to implement linkedin login on cordova, would it be possible?

[2022-08-08 10:34] iners-max commented on #73
Does this one help?
https://github.com/nvh95/react-linkedin-login-oauth2/issues/20

[2022-08-08 12:16] imabhinavawasthi commented on #73
It's not working in our app

[2022-08-08 13:29] iners-max opened #75 "onSuccess is called twice"
When I get the authorization code from the onSuccess callback, I will try to retrieve an access token from LinkedIn. However, I found that the `onSuccess` callback is always called twice with the same authorization code. It will trigger my function to LinkedIn twice causing LinkedIn to return an error saying my authorization code is expired in the second call.

Is it intented?

[2022-08-09 08:53] me-ibad commented on #54
for react router 6 use this one
 <Route exact path='/linkedin' element={<LinkedInCallback />} />

[2022-08-16 23:25] eddy-hu opened #76 "Is this working on mobile app?"
How can we make it work on the mobile app?

[2022-08-19 15:54] antoinealej opened #77 "Invalid access token"
Hi guys,

When I'm getting the access token using Postman I receive a 350 character long token.

When I'm doing it using `react-linkedin-login-oauth2` I receive a 211 character long token.

There is a length difference between the 2, the one from Postman is longer.

When I use the Postman token to query `https://api.linkedin.com/v2/emailAddress?q=members&projection=(elements*(handle~))` it works p

[2022-08-23 12:09] chinmay4o commented on #77
same here

[2022-08-28 05:35] antoinealej commented on #77
@nvh95 any tips about that?

[2022-09-05 13:34] Mohammad-Sahil commented on #77
same here

[2022-09-06 16:19] cristian-custodio opened #78 "onError firing after successful token retrieval and automatic pop-up closing"
Having an issue where auth is retrieving a token, logging it to the console, but also firing the onError function. Help!

![image](https://user-images.githubusercontent.com/30705878/188685937-37da4c24-b0bc-4c73-b897-05cb1dd2add2.png)

[2022-09-06 18:16] cristian-custodio commented on #78
I was able to fix it by adding additional functions; having only a console.log on the onSuccess function triggers the onError automatically.

[2022-09-08 18:40] #78 closed, assigned to nobody

[2022-09-08 18:41] cristian-custodio commented on #78
I was able to fix it by adding additional functions; having only a console.log on the onSuccess function triggers the onError automatically.

[2022-10-18 15:10] psushi commented on #56
Hey @MrHolmes19 facing the same issue right now, do you by any chance remember how you managed to fix it?

[2022-10-18 23:26] MrHolmes19 commented on #56
I think it got fixed by itself that time. I just checked my code and it is almost the same (I added a signIn function after getting the success response and also changed "clientId: env.LINKEDIN_CLIENT_ID as string" because it was throwing me a Typescript warning) but that's it.

[2022-10-20 08:51] akashSolace opened #79 "state does not match issue"
after clicking on the sign with the LinkedIn button login pop-up come and redirect to the "/linkedin" route with this error.
If anyone knows how to fix this issue please help.
![image](https://user-images.githubusercontent.com/113232599/196902693-80f69f45-cc7a-4888-ac88-00e6a2eabc00.png)

[2022-10-25 17:14] aamirrajpot commented on #79
![image](https://user-images.githubusercontent.com/45880600/197839111-5c390669-36a9-4aba-b273-640b10a25da3.png)

When I click the linkedin signin button (when I am loggedin in linkedin) it straight forward redirects me to my redirect url , not show me authorized screen as above .

[2022-11-13 07:56] raoularavel commented on #75
Same for me

[2022-11-19 19:54] hannanel100 commented on #54
exact is not supported in react-router v6.

[2022-11-30 10:44] saleh1312 commented on #54
<Route exact path='/linkedin' element={ < LinkedInCallback /> } />
and dont forget to add https://localhost:3000/linkedin to your OAuth 2.0 settings in likedin developer app

[2022-11-30 15:22] SpaceSimon opened #82 "Error 'Unable to resolve module react/jsx-runtime' when running the app"
Hello,

I have the following error on both Android and iOS when running the app:

`error: Error: Unable to resolve module react/jsx-runtime from /Users/myUser/Documents/myApp/node_modules/react-linkedin-login-oauth2/build/index.js: react/jsx-runtime could not be found within the project.`

With:
- React 16.13.1
- React Native 0.63.5
- React LinkedIn Login oAuth2 2.0.1

I cannot find where it comes